@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:ital,wght@1,200&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #212121;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meu {
    font-size: 40px;
    margin-left: 6rem;
    text-shadow: 2px 1px 2px #fff;
}

.portfolio {
    font-size: 40px;
    margin-left: 1rem;
    margin-right: 2rem;
    text-shadow: 2px 1px 3px #4582D9;
    color: #4582D9;
}

/* edição da Nav */
nav {
    margin-right: 12rem;
}

nav ul {
    margin: 0px;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

nav ul li a:hover {
    color: #4582D9;
    transform: scale(1.2);
    text-shadow: 0 3px 4px #4582D9;
}

.sobre {
    color: #4582D9;
    text-shadow: 0 3px 4px #4582D9;
}

/* ediçaõ do conteudo */
main{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
} 

.foto {
    height: 250px;
    width: 350px;
    border-radius: 50px;
    border: 2px solid #4582D9;

}

.conteudo{
margin: 1rem;
font-size: 20px;
}

h1{
    margin: 0;
    padding: 0;
}

h5{
    margin: 0;
    padding: 0;
}

/* edição do botão "curriculo" */
.botao {
    position: relative;
    display: flex;
    align-items: center;
}

.botao li {
    list-style: none;
}

.botao li {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border:2px solid #1e5aad ;
    background: #212121;
    margin-left: 45px;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.botao li:hover {
    cursor: pointer;
    background: #235BA9;
    transform: translateY(-10px);
}

/* tamanho da imagem */
.baixar{
    height: 30px;
    width: 40px;
}

/* mudando a cor da imagem */
.botao li img {
    filter: invert(1);
}